@import 'modern-normalize';
body{
    margin: 0px;
}
.container{
    display: flex;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}
.container>div{
    height: 100vh;
    width: 200vh;
    background-color: yellow;
}
.container>:first-child{
    width: 70vh;
    background-image: url("./images/halie-west-25xggax4bSA-unsplash.jpg");
    background-size:cover;
}
#leftSide{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.imageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(0,0,0,0.5);
    width: 100vw;
    height: 100px;
    margin-top: 50px;
    margin-bottom: 150px;
}
.credit{
    margin-top: 270px;
}
a{
    color: white;
}
#rightSide{
    display: flex;
    flex-direction: column;
    color: black;
    background-color: white;
}
.top{
    padding-top: 150px;
    width: 90%;;
}
.top,.middle,.bottom{
    padding: 50px;
}
.top,.bottom{
    height: 30%;
}
.middle{
    background-color: white;
    box-shadow:  0 4px 16px -6px #222 ;
    height: 40%;
}
.info{
    display: flex;
}
.basic-info>div{
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}
legend{
    font-size: large;
    margin-bottom: 30px;
}
input{
  border: 1px solid #ccc; 
  border-radius: 5px;   
  padding: 5px 5px; 
}
#log-in{
    font-weight: bold;
    color: #596D48;
}
button{
    background-color: #596D48;
    color: white;
    border: 1px solid #ccc; 
    border-radius: 5px;   
    padding: 15px 15px;
    width: 21%;
}
input:focus{
    border-color: blue;
}
input:not(:placeholder-shown):valid{
    border-color: green;
}
input:invalid{
    border-color: red;
}
@font-face {
    font-family: 'odin-font';
    src: url('./Fonts/Norse-Bold.otf');
}
.odin-text{
    font-family: 'odin-font','Times New Roman', Times, serif;
    font-size: 100px;
}

